.doc-cons-rad-notes-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 410px;
  height: 395px;
}
.radiologist-notes {
  margin: 0;
}
.note-13 {
  margin-bottom: 0;
}
.note-1-note-23 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-26xl);
}
.radiologist-notes-note-container {
  position: absolute;
  top: 35px;
  left: 35px;
  letter-spacing: 0.02em;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  width: 558px;
  height: 579px;
}
.doc-cons-rad-notes {
  width: 421px;
  height: 405px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--white-color);
  font-family: var(--font-peralta);
}
