.rad-cons-doc-notes-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 410px;
  height: 395px;
}
.doctors-notes1 {
  margin: 0;
  font-size: var(--font-size-15xl);
}
.blank-line10 {
  margin: 0;
}
.note-17 {
  margin-bottom: 0;
}
.note-1-note-27 {
  margin: 0;
  font-family: inherit;
  padding-left: var(--padding-13xl);
}
.doctors-notes-note-container1 {
  position: absolute;
  top: 35px;
  left: 35px;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  width: 558px;
  height: 579px;
}
.rad-cons-doc-notes {
  width: 421px;
  position: relative;
  height: 405px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--white-color);
  font-family: var(--font-peralta);
}
