:root { 
--gray_50_01:#fbfbfb; 
--red_900:#ce1313; 
--light_green_A700:#5faa02; 
--amber_A700_63:#ffa60063; 
--red_300:#bd6b6b; 
--light_blue_400:#15bffd; 
--red_400:#ec4f4f; 
--green_A200:#4bf0a1; 
--gray_50:#f9f9f9; 
--green_500:#46aa72; 
--teal_200:#8ad0d4; 
--teal_400:#2da0a4; 
--yellow_400:#ffdf66; 
--teal_300:#5acfa5; 
--pink_A200:#fd4475; 
--black_900_01:#090909; 
--black_900:#000000; 
--blue_gray_800:#3d3f54; 
--blue_gray_900_01:#0b1e51; 
--pink_800:#aa464c; 
--deep_orange_500:#ff5630; 
--blue_gray_900:#222338; 
--deep_purple_A200:#9267ff; 
--red_A700:#fd0505; 
--gray_600:#6c737f; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--gray_800:#383838; 
--gray_900:#1b1c31; 
--gray_800_99:#3c3c4399; 
--gray_300:#e0e0e9; 
--blue_gray_800_01:#344054; 
--gray_100:#f4f0ff; 
--gray_50_ed:#fafafaed; 
--indigo_300:#6e85c2; 
--cyan_300:#61deed; 
--green_A200_01:#61eba9; 
--indigo_A400:#4461f2; 
--indigo_A400_1c:#4461f21c; 
--white_A700:#ffffff; 
--cyan_400:#32a6d0; 
--amber_A700_4c:#ffa6004c; 
--indigo_600:#475d96; 
}