.image-14-icon5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 613px;
  object-fit: cover;
}
.frame-child271,
.frame-child272,
.frame-child273 {
  position: absolute;
  top: 9px;
  left: 11px;
  background-color: var(--color-gainsboro-200);
  width: 40px;
  height: 37px;
  display: none;
}
.frame-child272,
.frame-child273 {
  top: 8px;
  left: 0;
  width: 53px;
  height: 39px;
}
.frame-child273 {
  top: 0;
  width: 52px;
  height: 48px;
}
.frame-child274 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 42px;
  height: 38px;
}
.frame-child275,
.rectangle-wrapper1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 45px;
}
.rectangle-wrapper1 {
  cursor: pointer;
}
.image-14-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 364px;
  height: 613px;
}
.doc-own-chat-interface {
  width: 100%;
  position: relative;
  height: 613px;
}
