.vector-icon3 {
  position: absolute;
  height: 3.14%;
  width: 1.91%;
  top: 94.06%;
  right: 22.94%;
  bottom: 2.79%;
  left: 75.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.labstaff-login-page-child {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.labstaff-login-page-item {
  position: absolute;
  top: 152px;
  left: 836px;
  width: 24px;
  height: 24px;
}
.users-background-4-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1465px;
  height: 859px;
  object-fit: cover;
}
.recover-password {
  position: absolute;
  top: 414px;
  left: 449px;
  color: var(--text-secondary);
  text-align: left;
  display: inline-block;
  width: 177px;
  height: 21px;
}
.min-height17 {
  width: 0;
  position: relative;
  height: 24px;
}
.label17 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
}
.content17,
.input17 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content17 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0;
}
.input17 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.helper-text17 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.helpertext17,
.text-fieldoutlined17,
.text-fieldoutlined18 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.helpertext17 {
  width: 220px;
  display: none;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--components-helper-text-size);
  color: var(--text-secondary);
}
.text-fieldoutlined17,
.text-fieldoutlined18 {
  position: absolute;
  top: 254px;
  left: 163px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 460px;
  height: 55px;
  display: flex;
  gap: var(--gap-10xs);
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--color-darkslategray-300);
}
.text-fieldoutlined18 {
  top: 349px;
  height: 56px;
}
.labstaff-login-page-inner,
.login3 {
  position: absolute;
  width: 31.4%;
  left: 11.13%;
}
.labstaff-login-page-inner {
  height: 7.57%;
  top: 61.47%;
  right: 57.47%;
  bottom: 30.97%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.login3 {
  height: 3.73%;
  top: 63.56%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  align-items: center;
  justify-content: center;
}
.labstaff-login-page-child1,
.sign-up {
  position: absolute;
  width: 5.32%;
  left: 31.47%;
}
.labstaff-login-page-child1 {
  height: 2.91%;
  top: 72.29%;
  right: 63.21%;
  bottom: 24.8%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.sign-up {
  height: 1.28%;
  top: 72.99%;
  font-size: var(--components-helper-text-size);
  display: flex;
  font-family: var(--font-kanit);
  align-items: center;
  justify-content: center;
}
.login-as {
  margin: 0;
}
.login-as-lab-container {
  position: absolute;
  top: 97px;
  left: 202px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-julius-sans-one);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 380px;
  height: 115px;
}
.dont-have-an {
  position: absolute;
  height: 2.44%;
  width: 31.4%;
  top: 72.64%;
  left: 8.33%;
  color: var(--text-secondary);
  display: inline-block;
}
.labstaff-login-page-child2 {
  position: absolute;
  height: 7.22%;
  width: 15.22%;
  top: 84.98%;
  right: 74.06%;
  bottom: 7.8%;
  left: 10.72%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.back3 {
  position: absolute;
  height: 3.38%;
  width: 13.99%;
  top: 86.73%;
  left: 11.26%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  align-items: center;
  justify-content: center;
}
.labstaff-login-page {
  width: 100%;
  position: relative;
  height: 859px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--white-color);
  font-family: var(--components-helper-text);
}
