.rad-cons-pfrbd-cons-rad-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon212 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.rad-cons-pfrbd-cons-rad-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon213,
.vector-icon214,
.vector-icon215 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon214,
.vector-icon215 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon215 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child45 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div116 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing47,
.need-help-icon47 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing47 {
  left: 1341px;
  font-size: var(--font-size-7xs);
}
.need-help-icon47 {
  left: 1297px;
  overflow: hidden;
}
.rad-cons-pfrbd-cons-rad-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.rad-cons-pfrbd-cons-rad-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.frame-child393,
.frame-child394 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child394 {
  top: 67px;
  left: 721px;
  width: 64px;
}
.span10 {
  background: linear-gradient(101.5deg, #fe4575 32.81%, #5faa03 65.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.john-doe10 {
  font-size: var(--font-size-14xl-4);
  color: var(--color-deepskyblue-100);
}
.good-morning-john-container10 {
  position: absolute;
  top: 47px;
  left: 69px;
  font-size: var(--font-size-6xl);
  color: var(--white-color);
}
.radiologist53 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.radiologist5-wrapper1 {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 102px;
  height: 24px;
}
.lab53,
.request-declined-by10 {
  position: absolute;
  top: 5px;
  left: 390px;
  text-transform: capitalize;
  font-weight: 500;
}
.lab53 {
  top: 6px;
  left: 231px;
}
.group-parent95 {
  position: absolute;
  top: 512px;
  left: 73px;
  width: 768px;
  height: 41px;
}
.radiologist4-wrapper1 {
  position: absolute;
  top: 17px;
  left: 8px;
  width: 103px;
  height: 24px;
}
.lab43,
.request-declined-by11 {
  position: absolute;
  top: 16px;
  left: 388px;
  text-transform: capitalize;
  font-weight: 500;
}
.lab43 {
  top: 17px;
  left: 229px;
}
.frame-parent58,
.group-parent96 {
  position: absolute;
  top: 451px;
  left: 75px;
  width: 768px;
  height: 41px;
}
.frame-parent58 {
  top: 36px;
  left: 18px;
  width: 881px;
  height: 705px;
  color: var(--color-lavender);
}
.radiologist1-wrapper1 {
  position: absolute;
  top: 6px;
  left: 55px;
  width: 98px;
  height: 24px;
}
.not-yet-consulted5 {
  position: absolute;
  top: 8px;
  left: 435px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-parent97 {
  position: absolute;
  top: 45px;
  left: -757px;
  width: 768px;
  height: 41px;
}
.consult5 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.consult-wrapper3 {
  width: 64px;
  position: relative;
  height: 28px;
}
.group-wrapper132 {
  position: absolute;
  top: 51px;
  left: 28px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 162px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
.radiologist2-wrapper1 {
  position: absolute;
  top: 14px;
  left: 3px;
  width: 101px;
  height: 24px;
}
.request-approved5 {
  position: absolute;
  top: 12px;
  left: 382px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-parent98 {
  position: absolute;
  top: 93px;
  left: -704px;
  width: 768px;
  height: 41px;
}
.status13 {
  position: absolute;
  top: 1px;
  left: 380px;
  text-transform: capitalize;
  font-weight: 600;
}
.radiologist-name-parent2 {
  position: absolute;
  top: -5px;
  left: -704px;
  width: 766px;
  height: 23px;
  font-size: var(--components-input-text-size);
  color: var(--color-steelblue-200);
}
.frame-parent60 {
  position: absolute;
  top: 70px;
  left: 699px;
  width: 64px;
  height: 206px;
}
.lab-name4,
.lab16,
.lab26 {
  position: absolute;
  top: 56px;
  left: 15px;
  text-transform: capitalize;
  font-weight: 500;
}
.lab-name4,
.lab26 {
  top: 111px;
}
.lab-name4 {
  top: 0;
  left: 14px;
  font-size: var(--components-input-text-size);
  font-weight: 600;
  color: var(--color-steelblue-200);
}
.lab1-parent1 {
  position: absolute;
  top: 65px;
  left: 203px;
  width: 64px;
  height: 199px;
}
.radiologist-details4 {
  position: absolute;
  top: -17px;
  left: -10px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  color: var(--white-color);
  width: 337px;
  height: 92px;
}
.radiologist3-wrapper1 {
  position: absolute;
  top: 8px;
  left: 5px;
  width: 102px;
  height: 24px;
}
.lab36,
.waiting-for-consent5 {
  position: absolute;
  top: 4px;
  left: 384px;
  text-transform: capitalize;
  font-weight: 500;
}
.lab36 {
  top: 7px;
  left: 226px;
}
.frame-parent59,
.group-parent99 {
  position: absolute;
  top: 225px;
  left: -7px;
  width: 768px;
  height: 41px;
}
.frame-parent59 {
  top: 224px;
  left: 103px;
  width: 831px;
  height: 242px;
  color: var(--color-lavender);
}
.back-wrapper58 {
  width: 42px;
  position: relative;
  height: 28px;
}
.rad-cons-pfrbd-cons-rad-inner1 {
  position: absolute;
  top: 734px;
  left: 87px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--btnfont-size);
  font-family: var(--btn-l-semi-bold);
}
.rad-cons-pfrbd-cons-rad {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white-color);
  font-family: var(--font-poppins);
}
