.doc-cons-other-docs-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon109 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.doc-cons-other-docs-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon110,
.vector-icon111,
.vector-icon112 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon111,
.vector-icon112 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon112 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child22 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div50 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing24,
.need-help-icon24 {
  position: absolute;
  top: 10px;
  left: 1341px;
  width: 24px;
  height: 24px;
}
.need-help-icon24 {
  left: 1297px;
  overflow: hidden;
}
.doc-cons-other-docs-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.doc-cons-other-docs-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.frame-child210,
.frame-child211 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child211 {
  top: 67px;
  left: 721px;
  width: 64px;
}
.span5 {
  background: linear-gradient(101.5deg, #fe4575 32.81%, #5faa03 65.1%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.john-doe5 {
  font-size: var(--font-size-14xl-4);
  color: var(--color-deepskyblue-100);
}
.doctor5-wrapper,
.good-morning-john-container5 {
  position: absolute;
  top: 47px;
  left: 69px;
}
.doctor5-wrapper {
  top: 14px;
  left: 4px;
  width: 65px;
  height: 24px;
}
.hospital5,
.request-declined-by4 {
  position: absolute;
  top: 12px;
  left: 371px;
  text-transform: capitalize;
  font-weight: 500;
}
.hospital5 {
  top: 13px;
  left: 183px;
}
.group-parent39 {
  position: absolute;
  top: 497px;
  left: 80px;
  width: 768px;
  height: 41px;
  font-size: var(--font-size-base);
  color: var(--color-lavender);
}
.frame-parent27 {
  position: absolute;
  top: 36px;
  left: 18px;
  width: 881px;
  height: 705px;
  font-size: var(--font-size-6xl);
}
.doctor1-wrapper {
  position: absolute;
  top: 9px;
  left: 57px;
  width: 60px;
  height: 24px;
}
.not-yet-consulted2 {
  position: absolute;
  top: 9px;
  left: 423px;
  text-transform: capitalize;
  font-weight: 500;
}
.group-parent40 {
  position: absolute;
  top: 47px;
  left: -757px;
  width: 768px;
  height: 41px;
}
.consult2 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.consult-frame {
  width: 64px;
  position: relative;
  height: 28px;
}
.group-wrapper68 {
  position: absolute;
  top: 49px;
  left: 6px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 162px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
.doctor2-wrapper {
  position: absolute;
  top: 14px;
  left: 4px;
  width: 64px;
  height: 24px;
}
.doctor4-wrapper,
.group-parent41 {
  position: absolute;
  top: 90px;
  left: -704px;
  width: 768px;
  height: 41px;
}
.doctor4-wrapper {
  top: 6px;
  left: 6px;
  width: 65px;
  height: 24px;
}
.hospital4,
.waiting-for-consent2 {
  position: absolute;
  top: 4px;
  left: 373px;
  text-transform: capitalize;
  font-weight: 500;
}
.hospital4 {
  top: 5px;
  left: 185px;
}
.group-parent42 {
  position: absolute;
  top: 198px;
  left: -706px;
  width: 768px;
  height: 41px;
}
.doctor-name,
.status5 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 600;
}
.status5 {
  top: 1px;
  left: 366px;
}
.doctor-name-parent {
  position: absolute;
  top: -5px;
  left: -704px;
  width: 766px;
  height: 23px;
  font-size: var(--components-input-text-size);
  color: var(--color-steelblue-200);
}
.frame-parent29,
.group-parent43 {
  position: absolute;
  top: 70px;
  left: 699px;
  width: 64px;
  height: 206px;
}
.group-parent43 {
  top: 210px;
  left: -5px;
  width: 768px;
  height: 41px;
}
.hospital-name,
.hospital1,
.hospital2,
.hospital3 {
  position: absolute;
  top: 60px;
  left: -26px;
  text-transform: capitalize;
  font-weight: 500;
}
.hospital-name,
.hospital2,
.hospital3 {
  top: 108px;
}
.hospital-name,
.hospital3 {
  top: 158px;
}
.hospital-name {
  top: 0;
  left: -30px;
  font-size: var(--components-input-text-size);
  font-weight: 600;
  color: var(--color-steelblue-200);
}
.doctor-details,
.hospital1-parent {
  position: absolute;
  top: 65px;
  left: 203px;
  width: 64px;
  height: 199px;
}
.doctor-details {
  top: -17px;
  left: -10px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  color: var(--white-color);
  width: 337px;
  height: 92px;
}
.frame-parent28 {
  position: absolute;
  top: 224px;
  left: 103px;
  width: 682px;
  height: 307px;
  font-size: var(--font-size-base);
  color: var(--color-lavender);
}
.back-wrapper29 {
  width: 42px;
  position: relative;
  height: 28px;
}
.doc-cons-other-docs-inner1 {
  position: absolute;
  top: 734px;
  left: 87px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--btnfont-size);
  font-family: var(--btn-l-semi-bold);
}
.doc-cons-other-docs {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 899px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xs);
  color: var(--white-color);
  font-family: var(--font-poppins);
}
