.doc-cons-diag-comp-hist-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon105 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.doc-cons-diag-comp-hist-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon106,
.vector-icon107,
.vector-icon108 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon107,
.vector-icon108 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon108 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child21 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div49 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing23,
.need-help-icon23 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing23 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon23 {
  left: 1297px;
  overflow: hidden;
}
.doc-cons-diag-comp-hist-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.doc-cons-diag-comp-hist-child1,
.frame-child193 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.frame-child193 {
  top: 156px;
  left: 459px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.annotated-image3 {
  position: absolute;
  top: 195px;
  left: 503px;
  text-transform: capitalize;
  display: inline-block;
  width: 251px;
  height: 29px;
}
.frame-child194 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details12 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  width: 337px;
  height: 92px;
}
.frame-child195,
.frame-child196 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child196 {
  top: 67px;
  left: 721px;
  width: 64px;
}
.original-image10 {
  position: absolute;
  top: 192px;
  left: 99px;
  text-transform: capitalize;
  display: inline-block;
  width: 251px;
  height: 29px;
}
.annotely-image-1-icon6,
.xray1-1-icon10 {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.annotely-image-1-icon6 {
  left: 483px;
  width: 279px;
}
.frame-child198 {
  top: 341px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child198,
.frame-child199,
.frame-child200 {
  position: absolute;
  left: 430px;
  width: 29px;
}
.frame-child199 {
  top: 302px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child200 {
  top: 313px;
  height: 48px;
}
.frame-child201,
.frame-child202 {
  position: absolute;
  top: 310px;
  left: 432px;
  width: 25px;
  height: 24px;
}
.frame-child202 {
  top: 341px;
  object-fit: contain;
}
.frame-child203 {
  position: absolute;
  top: 336.5px;
  left: 429.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.frame-child204 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child204,
.frame-child205,
.frame-child206 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child205 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child206 {
  top: 313px;
  height: 48px;
}
.frame-child207,
.frame-child208 {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child208 {
  top: 341px;
  object-fit: contain;
}
.frame-child209 {
  position: absolute;
  top: 336.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-radiologists-notes6 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.view-radiologists-notes-wrapper4 {
  width: 207px;
  position: relative;
  height: 28px;
}
.group-wrapper67 {
  position: absolute;
  top: 651px;
  left: 442px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--btnfont-size);
  font-family: var(--btn-l-semi-bold);
}
.rectangle-parent13 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 881px;
  height: 705px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.back-wrapper26 {
  width: 42px;
  position: relative;
  height: 28px;
}
.doc-cons-diag-comp-hist-inner1 {
  position: absolute;
  top: 740px;
  left: 63px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-doctors-notes-wrapper6 {
  width: 172px;
  position: relative;
  height: 28px;
}
.doc-cons-diag-comp-hist-inner2 {
  position: absolute;
  top: 184px;
  left: 938px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-personnel-info-wrapper8 {
  width: 167px;
  position: relative;
  height: 28px;
}
.doc-cons-diag-comp-hist-inner3 {
  position: absolute;
  top: 273px;
  left: 938px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-report-wrapper1 {
  width: 104px;
  position: relative;
  height: 28px;
}
.doc-cons-diag-comp-hist-inner4 {
  position: absolute;
  top: 362px;
  left: 936px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-radiologists-details-wrapper4 {
  width: 218px;
  position: relative;
  height: 28px;
}
.doc-cons-diag-comp-hist-inner5 {
  position: absolute;
  top: 579px;
  left: 469px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.doc-cons-diag-comp-hist {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
