.doc-cons-pfr-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon89 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.doc-cons-pfr-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon90,
.vector-icon91,
.vector-icon92 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon91,
.vector-icon92 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon92 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child17 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div45 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing19,
.need-help-icon19 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing19 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon19 {
  left: 1297px;
  overflow: hidden;
}
.doc-cons-pfr-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.doc-cons-pfr-child1,
.frame-child133 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.frame-child133 {
  top: 156px;
  left: 459px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.annotated-image {
  position: absolute;
  top: 195px;
  left: 503px;
  text-transform: capitalize;
  display: inline-block;
  width: 251px;
  height: 29px;
}
.frame-child134 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details8 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  width: 337px;
  height: 92px;
}
.frame-child135 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child136,
.original-image6 {
  position: absolute;
  top: 67px;
  left: 721px;
  width: 64px;
  height: 206px;
}
.original-image6 {
  top: 192px;
  left: 99px;
  text-transform: capitalize;
  display: inline-block;
  width: 251px;
  height: 29px;
}
.annotely-image-1-icon3,
.xray1-1-icon6 {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.annotely-image-1-icon3 {
  left: 483px;
  width: 279px;
}
.add-notes-frame {
  width: 88px;
  position: relative;
  height: 28px;
}
.group-wrapper61 {
  position: absolute;
  top: 558px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--btnfont-size);
  font-family: var(--btn-l-semi-bold);
}
.frame-child138 {
  top: 337px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child138,
.frame-child139,
.frame-child140 {
  position: absolute;
  left: 430px;
  width: 29px;
}
.frame-child139 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child140 {
  top: 309px;
  height: 48px;
}
.frame-child141,
.frame-child142 {
  position: absolute;
  top: 306px;
  left: 432px;
  width: 25px;
  height: 24px;
}
.frame-child142 {
  top: 337px;
  object-fit: contain;
}
.frame-child143 {
  position: absolute;
  top: 332.5px;
  left: 429.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.frame-child144 {
  top: 340px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child144,
.frame-child145,
.frame-child146 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child145 {
  top: 294px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child146 {
  top: 309px;
  height: 48px;
}
.frame-child147,
.frame-child148 {
  position: absolute;
  top: 306px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child148 {
  top: 337px;
  object-fit: contain;
}
.frame-child149 {
  position: absolute;
  top: 332.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-radiologists-notes-wrapper1 {
  width: 207px;
  position: relative;
  height: 28px;
}
.group-wrapper62 {
  position: absolute;
  top: 644px;
  left: 444px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: var(--btnfont-size);
  font-family: var(--btn-l-semi-bold);
}
.rectangle-parent10 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 881px;
  height: 705px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-poppins);
}
.back-wrapper22 {
  width: 42px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner1 {
  position: absolute;
  top: 778px;
  left: 70px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.collaborate-with-authorized-re-frame {
  width: 287px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner2 {
  position: absolute;
  top: 427px;
  left: 936px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.consult-other-doctors {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.consult-other-doctors-wrapper {
  width: 190px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner3 {
  position: absolute;
  top: 345px;
  left: 936px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-own-notes-wrapper1 {
  width: 139px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner4 {
  position: absolute;
  top: 181px;
  left: 938px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-personnel-info-wrapper4 {
  width: 167px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner5 {
  position: absolute;
  top: 515px;
  left: 936px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-radiologists-details-wrapper1 {
  width: 218px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner6 {
  position: absolute;
  top: 579px;
  left: 469px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-other-doctors-notes-wrapper {
  width: 226px;
  position: relative;
  height: 28px;
}
.doc-cons-pfr-inner7 {
  position: absolute;
  top: 263px;
  left: 938px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.doc-cons-pfr {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
