.back49,
.image-13-icon6 {
  position: absolute;
  top: 0;
  left: 0;
}
.image-13-icon6 {
  width: 630px;
  height: 292px;
  object-fit: cover;
}
.back49 {
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.back-wrapper34 {
  width: 42px;
  position: relative;
  height: 28px;
}
.doc-own-pfrbr-editor-inner {
  position: absolute;
  top: 257px;
  left: 536px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 77px;
  height: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.doc-own-pfrbr-editor {
  width: 100%;
  position: relative;
  height: 292px;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
