.vector-icon79 {
  position: absolute;
  height: 3.14%;
  width: 1.91%;
  top: 94.06%;
  right: 22.94%;
  bottom: 2.79%;
  left: 75.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.doc-signup-2-child {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.doc-signup-2-item {
  position: absolute;
  top: 152px;
  left: 836px;
  width: 24px;
  height: 24px;
}
.users-background-6-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 900px;
  object-fit: cover;
}
.min-height64 {
  width: 0;
  position: relative;
  height: 24px;
}
.label64 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  border: none;
  outline: none;
}
.content69,
.input64 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content69 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0;
}
.input64 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.helper-text64 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.helpertext64 {
  width: 220px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--components-helper-text-size);
  color: var(--text-secondary);
}
.text-fieldoutlined64,
.text-fieldoutlined65,
.text-fieldoutlined66 {
  position: absolute;
  top: 254px;
  left: 157px;
  border-radius: var(--br-3xs);
  background-color: white;
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 460px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
  color: var(--color-darkslategray-300);
}
.text-fieldoutlined65,
.text-fieldoutlined66 {
  top: 347px;
  height: 55px;
}
.text-fieldoutlined66 {
  top: 442px;
}
.sign-up-as7 {
  position: absolute;
  top: 97px;
  left: 202px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-julius-sans-one);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: inline-block;
  width: 380px;
  height: 115px;
}
.doc-signup-2-inner {
  position: absolute;
  top: 757.5px;
  left: 929.5px;
  border-top: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 343px;
  height: 1px;
}
.doc-signup-2-child1,
.doc-signup-2-child2,
.doc-signup-2-child3 {
  position: absolute;
  top: 733px;
  left: 930px;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  width: 48px;
  height: 50px;
}
.doc-signup-2-child2,
.doc-signup-2-child3 {
  left: 1224px;
  background-color: var(--color-gainsboro-200);
}
.doc-signup-2-child3 {
  left: 1078px;
  background-color: var(--color-mediumaquamarine);
}
.iconsregularchevron-down-s14 {
  position: absolute;
  height: 3.61%;
  width: 1.71%;
  top: 30.85%;
  right: 58.57%;
  bottom: 65.54%;
  left: 39.73%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.doc-signup-2-child4 {
  position: absolute;
  height: 7.8%;
  width: 31.4%;
  top: 69.97%;
  right: 57.88%;
  bottom: 22.24%;
  left: 10.72%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  padding: 10px;
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Evenly space items */
  align-items: center; /* Center items vertically */
}

.doc-signup-2-child4 input[type="file"],
.doc-signup-2-child4 button {
  flex: 1; /* Make both input and button take equal space */
  margin: 0 5px; /* Adjust margin as needed */
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.upload-documents-for1 {
  position: absolute;
  height: 3.96%;
  width: 31.4%;
  top: 72.29%;
  left: 12.08%;
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-kanit);
  white-space: pre-wrap;
}
.doc-signup-2-child5,
.doc-signup-2-child6 {
  position: absolute;
  top: 620px;
  left: 547px;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
}
.doc-signup-2-child6 {
  top: 621px;
  left: 548px;
  background-color: var(--color-mediumslateblue-200);
  width: 28px;
  height: 28px;
}
.doc-signup-2-child7 {
  position: absolute;
  top: 626px;
  left: 562px;
  max-width: 100%;
  overflow: hidden;
  height: 21px;
  object-fit: contain;
}
.doc-signup-2-child8,
.login11 {
  position: absolute;
  width: 5.32%;
  left: 36.18%;
}
.doc-signup-2-child8 {
  height: 2.68%;
  top: 94.53%;
  right: 58.5%;
  bottom: 2.79%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.login11 {
  height: 1.28%;
  top: 95.23%;
  font-size: var(--components-helper-text-size);
  display: flex;
  font-family: var(--font-kanit);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.already-have-an9 {
  position: absolute;
  height: 2.44%;
  width: 31.54%;
  top: 94.64%;
  left: 12.9%;
  font-size: var(--font-size-base);
  color: var(--text-secondary);
  white-space: pre-wrap;
  display: inline-block;
  cursor: pointer;
}
.doc-signup-2-child9 {
  position: absolute;
  height: 7.22%;
  width: 15.09%;
  top: 84.98%;
  right: 57.88%;
  bottom: 7.8%;
  left: 27.03%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.next6 {
  position: absolute;
  height: 3.61%;
  width: 14.61%;
  top: 86.73%;
  left: 27.24%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.doc-signup-2-child10 {
  position: absolute;
  height: 7.22%;
  width: 15.22%;
  top: 84.98%;
  right: 74.06%;
  bottom: 7.8%;
  left: 10.72%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.back33 {
  position: absolute;
  height: 3.61%;
  width: 14.61%;
  top: 86.73%;
  left: 11.26%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.doc-signup-2 {
  width: 100%;
  position: relative;
  height: 899px;
  overflow: hidden;
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--white-color);
  font-family: var(--components-helper-text);
}
