.back5,
.image-15-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.image-15-icon {
  width: 639px;
  height: 287px;
  object-fit: cover;
}
.back5 {
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.back-container {
  width: 42px;
  position: relative;
  height: 28px;
}
.labstaff-remarks-upload-inner {
  position: absolute;
  top: 239px;
  left: 514px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.labstaff-remarks-upload {
  width: 100%;
  position: relative;
  height: 287px;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
