.vector-icon36 {
  position: absolute;
  height: 3.14%;
  width: 1.91%;
  top: 94.06%;
  right: 22.94%;
  bottom: 2.79%;
  left: 75.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.patient-gaurdian-info-2-child {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.patient-gaurdian-info-2-item {
  position: absolute;
  top: 152px;
  left: 836px;
  width: 24px;
  height: 24px;
}
.users-background-7-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1600px;
  height: 900px;
  object-fit: cover;
}
.patient-gaurdian-info-2-inner {
  position: absolute;
  height: 7.22%;
  width: 15.09%;
  top: 84.98%;
  right: 57.95%;
  bottom: 7.8%;
  left: 26.96%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.next4 {
  position: absolute;
  height: 3.61%;
  width: 14.61%;
  top: 86.61%;
  left: 27.17%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.login8,
.patient-gaurdian-info-2-child1 {
  position: absolute;
  width: 5.32%;
  left: 36.11%;
}
.patient-gaurdian-info-2-child1 {
  height: 2.68%;
  top: 94.53%;
  right: 58.57%;
  bottom: 2.79%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.login8 {
  height: 1.28%;
  top: 95.23%;
  font-size: var(--components-helper-text-size);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  text-align: center;
  align-items: center;
  justify-content: center;
}
.already-have-an6 {
  position: absolute;
  height: 2.44%;
  width: 31.54%;
  top: 94.64%;
  left: 12.83%;
  font-size: var(--font-size-base);
  color: var(--text-secondary);
  white-space: pre-wrap;
  display: inline-block;
}
.patient-gaurdian-info-2-child2 {
  position: absolute;
  height: 7.22%;
  width: 15.22%;
  top: 84.98%;
  right: 74.13%;
  bottom: 7.8%;
  left: 10.65%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.back14,
.guardian-info1 {
  position: absolute;
  text-align: center;
}
.back14 {
  height: 3.61%;
  width: 14.61%;
  top: 86.73%;
  left: 11.13%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.guardian-info1 {
  top: 97px;
  left: 202px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-julius-sans-one);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 380px;
  height: 115px;
}
.min-height44 {
  width: 0;
  position: relative;
  height: 24px;
}
.label44 {
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  outline: none;
  border: none;
}
.content48,
.input44 {
  justify-content: flex-start;
}
.content48 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0;
}
.input44 {
  width: 220px;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.helper-text44 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.helpertext44,
.text-fieldoutlined44 {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.helpertext44 {
  width: 220px;
  display: none;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--components-helper-text-size);
  color: var(--text-secondary);
}
.text-fieldoutlined44 {
  position: absolute;
  top: 516px;
  left: 369px;
  border-radius: var(--br-3xs);
  background-color: white;
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 247px;
  height: 25px;
  display: flex;
  gap: var(--gap-10xs);
}
.phone-number-validity2 {
  position: absolute;
  top: 522px;
  left: 378px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-red);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 229px;
  height: 15px;
}
.text-fieldoutlined45 {
  position: absolute;
  top: 306px;
  left: 157px;
  border-radius: var(--br-3xs);
  background-color: white;
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 189px;
  height: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.age-verification-status {
  position: absolute;
  top: 310px;
  left: 166px;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-red);
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.input46,
.text-fieldoutlined46,
.text-fieldoutlined47 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input46 {
  align-self: stretch;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  padding: 0 var(--padding-xs);
}
.text-fieldoutlined46,
.text-fieldoutlined47 {
  position: absolute;
  top: 456px;
  left: 156px;
  border-radius: var(--br-3xs);
  background-color: white;
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 460px;
  gap: var(--gap-10xs);
}
.text-fieldoutlined47 {
  top: 363px;
}
.patient-gaurdian-info-2-child3 {
  position: absolute;
  top: 769.5px;
  left: 1007.5px;
  border-top: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 197px;
  height: 1px;
}
.patient-gaurdian-info-2-child4,
.patient-gaurdian-info-2-child5 {
  position: absolute;
  top: 745px;
  left: 1156px;
  border-radius: 50%;
  background-color: var(--color-mediumaquamarine);
  width: 48px;
  height: 48px;
}
.patient-gaurdian-info-2-child5 {
  left: 1008px;
}
.text-fieldoutlined48 {
  top: 246px;
  left: 156px;
  background-color: white;
  width: 189px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.patient-gaurdian-info-2-child6,
.text-fieldoutlined48,
.text-fieldoutlined49 {
  position: absolute;
  border-radius: var(--br-3xs);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
}
.text-fieldoutlined49 {
  top: 246px;
  left: 387px;
  background-color: white;
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.patient-gaurdian-info-2-child6 {
  height: 7.57%;
  width: 31.4%;
  top: 69.38%;
  right: 57.95%;
  bottom: 23.05%;
  left: 10.65%;
  background-color: var(--color-mediumslateblue-200);
}
.upload-government-id {
  position: absolute;
  height: 3.73%;
  width: 31.4%;
  top: 71.48%;
  left: 10.65%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  white-space: pre-wrap;
  align-items: center;
}
.patient-gaurdian-info-2-child7,
.patient-gaurdian-info-2-child8 {
  position: absolute;
  top: 615px;
  left: 498px;
  border-radius: 50%;
  background-color: var(--white-color);
  width: 30px;
  height: 30px;
}
.patient-gaurdian-info-2-child8 {
  top: 616px;
  left: 499px;
  background-color: var(--color-mediumslateblue-200);
  width: 28px;
  height: 28px;
}
.patient-gaurdian-info-2-child9 {
  position: absolute;
  top: 619px;
  left: 513px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.maxresdefault-2-icon {
  position: absolute;
  top: 271px;
  left: 307px;
  width: 18px;
  height: 17px;
  object-fit: cover;
}
.iconsregularchevron-down-s10 {
  position: absolute;
  height: 3.84%;
  width: 1.57%;
  top: 29.92%;
  right: 66.28%;
  bottom: 66.24%;
  left: 32.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.patient-gaurdian-info-2 {
  width: 100%;
  position: relative;
  height: 899px;
  overflow: hidden;
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--color-darkslategray-300);
  font-family: var(--components-helper-text);
}
