.vector-icon34 {
  position: absolute;
  height: 3.14%;
  width: 1.91%;
  top: 94.06%;
  right: 22.94%;
  bottom: 2.79%;
  left: 75.15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.patient-guardian-info-1-child {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.patient-guardian-info-1-item {
  position: absolute;
  top: 152px;
  left: 836px;
  width: 24px;
  height: 24px;
}
.users-background-5-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1465px;
  height: 859px;
  object-fit: cover;
}
.patient-guardian-info-1-inner {
  position: absolute;
  top: 769.5px;
  left: 1007.5px;
  border-top: 1px solid var(--color-mediumaquamarine);
  box-sizing: border-box;
  width: 197px;
  height: 1px;
}
.patient-guardian-info-1-child1,
.patient-guardian-info-1-child2 {
  position: absolute;
  top: 745px;
  left: 1156px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 48px;
  height: 48px;
}
.patient-guardian-info-1-child2 {
  left: 1008px;
  background-color: var(--color-mediumaquamarine);
}
.login6,
.patient-guardian-info-1-child3 {
  position: absolute;
  width: 5.32%;
  left: 36.18%;
}
.patient-guardian-info-1-child3 {
  height: 2.68%;
  top: 94.53%;
  right: 58.5%;
  bottom: 2.79%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.login6 {
  height: 1.28%;
  top: 95.23%;
  font-size: var(--components-helper-text-size);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.already-have-an4 {
  position: absolute;
  height: 2.44%;
  width: 31.54%;
  top: 94.64%;
  left: 12.9%;
  font-size: var(--font-size-base);
  color: var(--text-secondary);
  white-space: pre-wrap;
  display: inline-block;
}
.min-height30 {
  width: 0;
  position: relative;
  height: 24px;
}
.label30 {
  border: none;
  outline: none;
  flex: 1;
  position: relative;
  letter-spacing: 0.15px;
  line-height: 24px;
  font-weight: 500;
}
.content34,
.input30 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.content34 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0;
}
.input30 {
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-gainsboro-100);
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-xs);
}
.helper-text30 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 20px;
}
.helpertext30 {
  width: 220px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  font-size: var(--components-helper-text-size);
  color: var(--text-secondary);
}
.text-fieldoutlined30,
.text-fieldoutlined31,
.text-fieldoutlined32,
.text-fieldoutlined33,
.text-fieldoutlined34,
.text-fieldoutlined35,
.text-fieldoutlined36 {
  position: absolute;
  top: 254px;
  left: 157px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 131px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.text-fieldoutlined31,
.text-fieldoutlined32,
.text-fieldoutlined33,
.text-fieldoutlined34,
.text-fieldoutlined35,
.text-fieldoutlined36 {
  left: 315px;
  width: 139px;
}
.text-fieldoutlined32,
.text-fieldoutlined33,
.text-fieldoutlined34,
.text-fieldoutlined35,
.text-fieldoutlined36 {
  left: 478px;
}
.text-fieldoutlined33,
.text-fieldoutlined34,
.text-fieldoutlined35,
.text-fieldoutlined36 {
  top: 347px;
  left: 157px;
  width: 460px;
}
.text-fieldoutlined34,
.text-fieldoutlined35,
.text-fieldoutlined36 {
  top: 630px;
}
.text-fieldoutlined35,
.text-fieldoutlined36 {
  top: 442px;
}
.text-fieldoutlined36 {
  top: 535px;
  width: 119px;
}
.iconsregularchevron-down-s7 {
  position: absolute;
  height: 3.61%;
  width: 1.71%;
  top: 63.8%;
  right: 81.64%;
  bottom: 32.6%;
  left: 16.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text-fieldoutlined37 {
  position: absolute;
  top: 535px;
  left: 292px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.iconsregularchevron-down-s8 {
  position: absolute;
  height: 3.61%;
  width: 1.57%;
  top: 63.8%;
  right: 72.56%;
  bottom: 32.6%;
  left: 25.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.text-fieldoutlined38 {
  position: absolute;
  top: 535px;
  left: 427px;
  border-radius: var(--br-3xs);
  background-color: var(--color-whitesmoke-100);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  width: 119px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.iconsregularchevron-down-s9 {
  position: absolute;
  height: 3.61%;
  width: 1.57%;
  top: 63.8%;
  right: 63.34%;
  bottom: 32.6%;
  left: 35.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.guardian-info {
  position: absolute;
  top: 97px;
  left: 202px;
  font-size: var(--font-size-17xl);
  font-family: var(--font-julius-sans-one);
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: inline-block;
  width: 380px;
  height: 115px;
  cursor: pointer;
}
.patient-guardian-info-1-child4 {
  position: absolute;
  height: 7.22%;
  width: 15.09%;
  top: 84.98%;
  right: 57.88%;
  bottom: 7.8%;
  left: 27.03%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.next3 {
  position: absolute;
  height: 3.61%;
  width: 14.61%;
  top: 86.61%;
  left: 27.24%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.patient-guardian-info-1-child5 {
  position: absolute;
  height: 7.22%;
  width: 15.22%;
  top: 84.98%;
  right: 74.06%;
  bottom: 7.8%;
  left: 10.72%;
  border-radius: var(--br-3xs);
  background-color: var(--color-mediumslateblue-200);
  box-shadow: 0 18px 30px rgba(68, 97, 242, 0.11);
  cursor: pointer;
}
.back12 {
  position: absolute;
  height: 3.61%;
  width: 14.61%;
  top: 86.73%;
  left: 11.26%;
  font-size: var(--font-size-lgi);
  display: flex;
  font-family: var(--font-kanit);
  color: var(--white-color);
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.patient-guardian-info-1 {
  width: 100%;
  position: relative;
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--components-input-text-size);
  color: var(--color-darkslategray-300);
  font-family: var(--components-helper-text);
}
