.rad-cons-pfr-doc-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon232 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.rad-cons-pfr-doc-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon233,
.vector-icon234,
.vector-icon235 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon234,
.vector-icon235 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon235 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child50 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div121 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing52,
.need-help-icon52 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing52 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon52 {
  left: 1297px;
  overflow: hidden;
}
.rad-cons-pfr-doc-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.rad-cons-pfr-doc-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.view-doctors-notes16 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.view-doctors-notes-wrapper14 {
  width: 172px;
  position: relative;
  height: 28px;
}
.group-wrapper144 {
  position: absolute;
  top: 552px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame-child458 {
  position: absolute;
  top: 150px;
  left: 459px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.self-annotated-image4 {
  position: absolute;
  top: 195px;
  left: 493px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 271px;
  height: 29px;
}
.frame-child459 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details26 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 337px;
  height: 92px;
}
.frame-child460,
.frame-child461 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child461 {
  top: 67px;
  left: 721px;
  width: 64px;
}
.original-image21 {
  position: absolute;
  top: 192px;
  left: 99px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.annotely-image-1-icon12,
.xray1-1-icon24 {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.annotely-image-1-icon12 {
  left: 483px;
  width: 279px;
}
.add-notes-wrapper4 {
  width: 88px;
  position: relative;
  height: 28px;
}
.group-wrapper145 {
  position: absolute;
  top: 637px;
  left: 448px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-own-notes-wrapper7 {
  width: 139px;
  position: relative;
  height: 28px;
}
.group-wrapper146 {
  position: absolute;
  top: 722px;
  left: 448px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-further-annotations-wrapper1 {
  width: 211px;
  position: relative;
  height: 28px;
}
.group-wrapper147 {
  position: absolute;
  top: 552px;
  left: 448px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-personnel-info-wrapper20 {
  width: 167px;
  position: relative;
  height: 28px;
}
.group-wrapper148 {
  position: absolute;
  top: 640px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child463 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child463,
.frame-child464,
.frame-child465 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child464 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child465 {
  top: 313px;
  height: 48px;
}
.frame-child466,
.frame-child467 {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child467 {
  top: 341px;
  object-fit: contain;
}
.frame-child468 {
  position: absolute;
  top: 336.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.frame-parent65 {
  position: absolute;
  top: 22px;
  left: 27px;
  width: 881px;
  height: 705px;
}
.back-wrapper63 {
  width: 42px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-doc-inner1 {
  position: absolute;
  top: 779px;
  left: 63px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rad-cons-pfr-doc-child2 {
  position: absolute;
  top: 172px;
  left: 995px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.annotely-image-1-110 {
  position: absolute;
  top: 296px;
  left: 1022px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.collaborate-with-authorized-re-wrapper3 {
  width: 287px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-doc-inner2 {
  position: absolute;
  top: 741px;
  left: 980px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.consult-other-radiologists-wrapper1 {
  width: 226px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-doc-inner3 {
  position: absolute;
  top: 662px;
  left: 983px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-other-radiologists-notes-wrapper2 {
  width: 262px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-doc-inner4 {
  position: absolute;
  top: 577px;
  left: 980px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.annotations-by-other4 {
  position: absolute;
  top: 195px;
  left: 1046px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.rad-cons-pfr-doc-child3,
.rad-cons-pfr-doc-child4 {
  position: absolute;
  top: 381px;
  left: 966px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 29px;
  height: 32px;
}
.rad-cons-pfr-doc-child4 {
  top: 335px;
}
.rad-cons-pfr-doc-child5 {
  position: absolute;
  top: 350px;
  left: 966px;
  width: 29px;
  height: 48px;
}
.rad-cons-pfr-doc-child6,
.rad-cons-pfr-doc-child7 {
  position: absolute;
  top: 347px;
  left: 968px;
  width: 25px;
  height: 24px;
}
.rad-cons-pfr-doc-child7 {
  top: 378px;
  object-fit: contain;
}
.rad-cons-pfr-doc-child8 {
  position: absolute;
  top: 373.5px;
  left: 965.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-other-radiologists-detai-wrapper2 {
  width: 273px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-doc-inner5 {
  position: absolute;
  top: 119px;
  left: 995px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 279px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rad-cons-pfr-doc {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message {
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  color: black;
  position: relative;
  display: flex; 
  align-items: center;
  justify-content: space-between;
}

.message-content {
  margin-bottom: 10px;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.reply-button,
.ignore-button,
.clear-button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
}

.reply-button:hover,
.ignore-button:hover,
.clear-button:hover {
  background-color: #bbb;
}
