.rad-cons-pfr-rad-hist-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.rad-cons-pfr-rad-hist-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon220,
.vector-icon221,
.vector-icon222 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon221,
.vector-icon222 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon222 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child47 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div118 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing49,
.need-help-icon49 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing49 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon49 {
  left: 1297px;
  overflow: hidden;
}
.rad-cons-pfr-rad-hist-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.rad-cons-pfr-rad-hist-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.view-doctors-notes13 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.view-doctors-notes-wrapper11 {
  width: 171px;
  position: relative;
  height: 28px;
}
.group-wrapper136 {
  position: absolute;
  top: 546px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child407 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details23 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 337px;
  height: 92px;
}
.frame-child408,
.frame-child409 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child409 {
  top: 67px;
  left: 721px;
  width: 64px;
}
.original-image18 {
  position: absolute;
  top: 192px;
  left: 99px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.xray1-1-icon21 {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.view-personnel-info-wrapper17 {
  width: 167px;
  position: relative;
  height: 28px;
}
.group-wrapper137 {
  position: absolute;
  top: 632px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child411 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child411,
.frame-child412,
.frame-child413 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child412 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child413 {
  top: 313px;
  height: 48px;
}
.frame-child414,
.frame-child415 {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child415 {
  top: 341px;
  object-fit: contain;
}
.frame-child416 {
  position: absolute;
  top: 336.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.vector-icon223 {
  position: absolute;
  height: 3.25%;
  width: 2.77%;
  top: 104.95%;
  right: 31.85%;
  bottom: -8.2%;
  left: 65.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.frame-child417 {
  position: absolute;
  top: 156px;
  left: 518px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.view-radiologists-notes-wrapper9 {
  width: 207px;
  position: relative;
  height: 28px;
}
.group-wrapper138 {
  position: absolute;
  top: 632px;
  left: 501px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.annotations-by-radiologists3 {
  position: absolute;
  top: 179px;
  left: 569px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.annotely-image-1-17 {
  position: absolute;
  top: 282px;
  left: 546px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.frame-child418 {
  top: 350px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child418,
.frame-child419,
.frame-child420 {
  position: absolute;
  left: 489px;
  width: 29px;
}
.frame-child419 {
  top: 304px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child420 {
  top: 319px;
  height: 48px;
}
.frame-child421,
.frame-child422 {
  position: absolute;
  top: 316px;
  left: 491px;
  width: 25px;
  height: 24px;
}
.frame-child422 {
  top: 347px;
  object-fit: contain;
}
.frame-child423 {
  position: absolute;
  top: 342.5px;
  left: 488.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-radiologists-details-wrapper9 {
  width: 218px;
  position: relative;
  height: 28px;
}
.group-wrapper139 {
  position: absolute;
  top: 546px;
  left: 501px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent62 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 881px;
  height: 705px;
}
.back-wrapper60 {
  width: 42px;
  position: relative;
  height: 28px;
}
.rad-cons-pfr-rad-hist-inner1 {
  position: absolute;
  top: 779px;
  left: 65px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rad-cons-pfr-rad-hist {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
