@import "../../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-buttons/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-popups/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-splitbuttons/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-inputs/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-navigations/styles/bootstrap5.css";
@import "../../node_modules/@syncfusion/ej2-image-editor/styles/bootstrap5.css";

.rad-own-pfr-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon49 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.rad-own-pfr-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon50,
.vector-icon51,
.vector-icon52 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon51,
.vector-icon52 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon52 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child8 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div30 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing10,
.need-help-icon10 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing10 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon10 {
  left: 1297px;
  overflow: hidden;
}
.rad-own-pfr-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.rad-own-pfr-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.view-doctors-notes {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0em;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 600;
}
.view-doctors-notes-wrapper {
  width: 171px;
  position: relative;
  height: 28px;
}
.group-wrapper34 {
  position: absolute;
  top: 546px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rectangle-icon {
  position: absolute;
  top: 150px;
  left: 459px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.self-annotated-image {
  position: absolute;
  top: 195px;
  left: 489px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 273px;
  height: 29px;
}
.frame-child41 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details2 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 337px;
  height: 92px;
}
.frame-child42 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child43,
.original-image {
  position: absolute;
  top: 67px;
  left: 721px;
  width: 64px;
  height: 206px;
}
.original-image {
  top: 192px;
  left: 99px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.annotely-image-1-icon,
.xray1-1-icon {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.annotely-image-1-icon {
  left: 483px;
  width: 279px;
}
.add-further-annotations-wrapper {
  width: 211px;
  position: relative;
  height: 28px;
}
.group-wrapper35 {
  position: absolute;
  top: 546px;
  left: 445px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-personnel-info-wrapper {
  width: 167px;
  position: relative;
  height: 28px;
}
.group-wrapper36 {
  position: absolute;
  top: 632px;
  left: 20px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child45 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child45,
.frame-child46,
.frame-child47 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child46 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child47 {
  top: 313px;
  height: 48px;
}
.frame-child48,
.polygon-icon {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child48 {
  top: 341px;
  object-fit: contain;
}
.frame-child49 {
  position: absolute;
  top: 336.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.frame-parent17 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 881px;
  height: 705px;
}
.finish-review-wrapper {
  width: 114px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner1 {
  position: absolute;
  top: 72px;
  left: 1282px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 136px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-notes-wrapper {
  width: 88px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner2 {
  position: absolute;
  top: 655px;
  left: 471px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-own-notes-wrapper {
  width: 139px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner3 {
  position: absolute;
  top: 740px;
  left: 471px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rad-own-pfr-child2 {
  position: absolute;
  top: 172px;
  left: 995px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.collaborate-with-authorized-re-wrapper {
  width: 287px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner4 {
  position: absolute;
  top: 737px;
  left: 978px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.consult-other-radiologists-wrapper {
  width: 226px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner5 {
  position: absolute;
  top: 654px;
  left: 978px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-other-radiologists-notes-wrapper {
  width: 262px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner6 {
  position: absolute;
  top: 566px;
  left: 978px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.annotations-by-other {
  position: absolute;
  top: 195px;
  left: 1046px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.annotely-image-1-1 {
  position: absolute;
  top: 298px;
  left: 1023px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.back-wrapper10 {
  width: 42px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner7 {
  position: absolute;
  top: 779px;
  left: 65px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rad-own-pfr-child3,
.rad-own-pfr-child4 {
  position: absolute;
  top: 366px;
  left: 966px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 29px;
  height: 32px;
}
.rad-own-pfr-child4 {
  top: 320px;
}
.rad-own-pfr-child5 {
  position: absolute;
  top: 335px;
  left: 966px;
  width: 29px;
  height: 48px;
}
.rad-own-pfr-child6,
.rad-own-pfr-child7 {
  position: absolute;
  top: 332px;
  left: 968px;
  width: 25px;
  height: 24px;
}
.rad-own-pfr-child7 {
  top: 363px;
  object-fit: contain;
}
.rad-own-pfr-child8 {
  position: absolute;
  top: 358.5px;
  left: 965.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-other-radiologists-detai-wrapper {
  width: 273px;
  position: relative;
  height: 28px;
}
.rad-own-pfr-inner8 {
  position: absolute;
  top: 119px;
  left: 995px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 279px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rad-own-pfr {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1000; /* Ensure the overlay appears above other elements */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
