.rad-own-diag-comp-child {
  position: absolute;
  top: 47px;
  left: 27px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-200);
  width: 1411px;
  height: 786px;
}
.vector-icon57 {
  position: absolute;
  height: 2.67%;
  width: 1.67%;
  top: 88%;
  right: 26.46%;
  bottom: 9.34%;
  left: 71.88%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.rad-own-diag-comp-item {
  position: absolute;
  top: 7px;
  left: 1385px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}
.vector-icon58,
.vector-icon59,
.vector-icon60 {
  position: absolute;
  height: 70.83%;
  width: 71.25%;
  top: 8.33%;
  right: 14.58%;
  bottom: 20.83%;
  left: 14.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon59,
.vector-icon60 {
  height: 8.33%;
  width: 23.33%;
  top: 83.33%;
  right: 38.33%;
  bottom: 8.33%;
  left: 38.33%;
}
.vector-icon60 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
  opacity: 0;
}
.iconnotification-bing-child10 {
  position: absolute;
  height: 41.67%;
  width: 41.67%;
  top: 0;
  right: 0;
  bottom: 58.33%;
  left: 58.33%;
  border-radius: 50%;
  background-color: var(--red);
}
.div32 {
  position: absolute;
  width: 33.33%;
  top: 4.17%;
  left: 62.5%;
  font-weight: 500;
  display: inline-block;
}
.iconnotification-bing12,
.need-help-icon12 {
  position: absolute;
  top: 10px;
  width: 24px;
  height: 24px;
}
.iconnotification-bing12 {
  left: 1341px;
  font-size: var(--font-size-7xs);
  font-family: var(--font-poppins);
}
.need-help-icon12 {
  left: 1297px;
  overflow: hidden;
}
.rad-own-diag-comp-inner {
  position: absolute;
  top: -160px;
  left: 209.3px;
  border-radius: 50%;
  background-color: var(--color-deepskyblue-100);
  filter: blur(70.41px);
  width: 39.4px;
  height: 46px;
}
.rad-own-diag-comp-child1 {
  position: absolute;
  top: 199px;
  left: 709px;
  width: 19px;
  height: 25px;
}
.view-doctors-notes-frame {
  width: 172px;
  position: relative;
  height: 28px;
}
.group-wrapper42 {
  position: absolute;
  top: 550px;
  left: 25px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.frame-child61 {
  position: absolute;
  top: 150px;
  left: 459px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.self-annotated-image2 {
  position: absolute;
  top: 195px;
  left: 487px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 271px;
  height: 29px;
}
.frame-child62 {
  position: absolute;
  top: 156px;
  left: 37px;
  border-radius: var(--br-3xs);
  background-color: var(--color-darkslategray-100);
  width: 326px;
  height: 363px;
}
.test-details4 {
  position: absolute;
  top: 47px;
  left: 37px;
  font-size: var(--font-size-21xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 337px;
  height: 92px;
}
.frame-child63 {
  position: absolute;
  top: 47px;
  left: 412px;
  width: 91px;
  height: 206px;
}
.frame-child64,
.original-image2 {
  position: absolute;
  top: 67px;
  left: 721px;
  width: 64px;
  height: 206px;
}
.original-image2 {
  top: 192px;
  left: 99px;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.annotely-image-1-icon2,
.xray1-1-icon2 {
  position: absolute;
  top: 273px;
  left: 63px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.annotely-image-1-icon2 {
  left: 483px;
  width: 279px;
}
.view-own-notes-frame {
  width: 139px;
  position: relative;
  height: 28px;
}
.group-wrapper43 {
  position: absolute;
  top: 550px;
  left: 442px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.view-personnel-info-frame {
  width: 167px;
  position: relative;
  height: 28px;
}
.group-wrapper44 {
  position: absolute;
  top: 639px;
  left: 25px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-child66 {
  top: 344px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child66,
.frame-child67,
.frame-child68 {
  position: absolute;
  left: 8px;
  width: 29px;
}
.frame-child67 {
  top: 298px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  height: 32px;
}
.frame-child68 {
  top: 313px;
  height: 48px;
}
.frame-child69,
.frame-child70 {
  position: absolute;
  top: 310px;
  left: 10px;
  width: 25px;
  height: 24px;
}
.frame-child70 {
  top: 341px;
  object-fit: contain;
}
.frame-child71 {
  position: absolute;
  top: 336.5px;
  left: 7.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.frame-parent19 {
  position: absolute;
  top: 22px;
  left: 26px;
  width: 881px;
  height: 705px;
}
.back-wrapper12 {
  width: 42px;
  position: relative;
  height: 28px;
}
.rad-own-diag-comp-inner1 {
  position: absolute;
  top: 756px;
  left: 51px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 112px;
  height: 33px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.rad-own-diag-comp-child2 {
  position: absolute;
  top: 172px;
  left: 995px;
  border-radius: var(--br-3xs);
  width: 326px;
  height: 363px;
}
.annotely-image-1-12 {
  position: absolute;
  top: 296px;
  left: 1024px;
  width: 275px;
  height: 183px;
  object-fit: cover;
}
.view-other-radiologists-notes-frame {
  width: 262px;
  position: relative;
  height: 28px;
}
.rad-own-diag-comp-inner2 {
  position: absolute;
  top: 572px;
  left: 978px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.annotations-by-other2,
.view-report {
  position: absolute;
  text-transform: capitalize;
}
.annotations-by-other2 {
  top: 195px;
  left: 1046px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  font-family: var(--font-poppins);
  width: 251px;
  height: 29px;
}
.view-report {
  top: 0;
  left: 0;
  /* letter-spacing: 0em; */
  line-height: 28px;
  align-items: center;
  font-weight: 600;
}
.view-report-wrapper {
  width: 100%;
  left: 38%;
  position: absolute;
  height: 50%;
}
.rad-own-diag-comp-inner3 {
  position: absolute;
  top: 661px;
  left: 978px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 361px;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rad-own-diag-comp-child3,
.rad-own-diag-comp-child4 {
  position: absolute;
  top: 366px;
  left: 966px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 29px;
  height: 32px;
}
.rad-own-diag-comp-child4 {
  top: 320px;
}
.rad-own-diag-comp-child5 {
  position: absolute;
  top: 335px;
  left: 966px;
  width: 29px;
  height: 48px;
}
.rad-own-diag-comp-child6,
.rad-own-diag-comp-child7 {
  position: absolute;
  top: 332px;
  left: 968px;
  width: 25px;
  height: 24px;
}
.rad-own-diag-comp-child7 {
  top: 363px;
  object-fit: contain;
}
.rad-own-diag-comp-child8 {
  position: absolute;
  top: 358.5px;
  left: 965.5px;
  border-top: 1px solid var(--btnbkgnormal);
  box-sizing: border-box;
  width: 30px;
  height: 1px;
}
.view-other-radiologists-detai-frame {
  width: 273px;
  position: relative;
  height: 28px;
}
.rad-own-diag-comp-inner4 {
  position: absolute;
  top: 119px;
  left: 995px;
  border-radius: var(--br-5xs);
  background: linear-gradient(265.41deg, #46aa72, #2da0a4);
  width: 279px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.rad-own-diag-comp {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-300);
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: var(--btnfont-size);
  color: var(--white-color);
  font-family: var(--btn-l-semi-bold);
}
